// COLORS
$grey-50: #f9fafb;
$grey-100: rgba(242, 244, 247, 1);
$grey-200: #eaecf0;
$grey-300: rgba(208, 213, 221, 1);
$grey-400: rgba(152, 162, 179, 1);
$grey-500: rgba(102, 112, 133, 1);
$grey-600: rgba(71, 84, 103, 1);
$grey-700: rgba(52, 64, 84, 1);
$grey-800: rgba(29, 41, 57, 1);
$grey-900: rgba(16, 24, 40, 1);
$blue-50: rgba(239, 248, 255, 1);
$blue-100: rgba(209, 233, 255, 1);
$blue-200: rgba(178, 221, 255, 1);
$blue-400: rgba(83, 177, 253, 1);
$blue-600: rgba(21, 112, 239, 1);
$blue-700: rgba(23, 92, 211, 1);
$blue-dark-400: rgba(82, 139, 255, 1);
$base-white: rgba(255, 255, 255, 1);
