@use "@/globalStyles/variables" as *;
.social-proof {
  padding: 96px 160px;
  background-color: $base-white;
}
.inner-wrapper {
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.social-proof__title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: $grey-600;
}
.social-proof__icons {
  display: flex;
  align-items: center;
  gap: 69px;
}
