@use "@/globalStyles/variables" as *;
.faq-block {
  padding: 96px 160px;
  display: flex;
  justify-content: space-between;
}
.faq-block__header {
  width: 100%;
  h5 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: $blue-700;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
    color: $grey-800;
    margin-bottom: 20px;
  }
  p {
    width: 547px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: $grey-500;
    a {
      border-bottom: 2px solid $grey-500;
    }
  }
}
.faq-block__body-content {
  padding: 32px;
  display: flex;
  gap: 24px;
  h4 {
    width: 100%;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: $grey-900;
    svg {
      margin-left: auto;
    }
  }
  &:first-child {
    background: $grey-50;
    border: 1px solid $grey-200;
    border-radius: 16px;
    p {
      width: 653px;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  &:nth-child(n):not(:first-child):not(:last-child) {
    border-bottom: 2px solid $grey-200;
  }
}
