.page {
  position: relative;
}
.background-image {
  position: absolute;
  background-image: url("../../../public/background-pattern.png");
  height: 1440px;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}
